<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar contato</title>
</head>
<body>
    <h1>Adicionar contato</h1>

    <form action="/adicionar" method="post">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">

        <label for="telefone">Telefone</label>
        <input type="text" name="telefone" id="telefone">

        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <button type="submit">Adicionar</button>
    </form>
    
</body>
</html>